{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Mateando</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, libero voluptates quo placeat nostrum ex. Numquam ratione, alias aut mollitia provident quibusdam aliquid neque, maxime sunt asperiores qui rem molestias!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/mateando.jpg" class="img-thumbnail" alt="" >
    </div>
</div>
{{> footer }}